<!DOCTYPE html >
<html>
<head>
	<title>Hotels list</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,700|Love+Ya+Like+A+Sister' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="../../public/css/normalize.css">
	<link rel="stylesheet" href="../../public/css/styles.css" type="text/css"  />
	<script src="../../public/js/modernizr.js"></script>
</head>

<body>
		<div class="container">
			<header class="main">
				<a><h1><em>Hotel Adviser</em></h1></a>
				<nav>
					<ul>
						<li><a href="../../public/index.html">Main page</a></li>
						<li><a href="../app/views/hotels_list.html">Hotels list</a></li>
						<li><a href="../app/views/reg_form.html">Registration</a></li>
					</ul>
				</nav>
			</header>

		</div>

<table class="features-table">
<thead>
	<tr>
		<td>Hotel's name</td>
		<td class="grey">photo</td>
		<td class="grey" nowrap>stars rate's</td>
		<td class="grey">breakfest</td>
		<td class="grey">adress</td>
		<td class="grey">Price</td>
		<td class="grey">Room Description</td>
	</tr>
</thead>

<tbody>
	<tr>
		<td nowrap><a href="The Benjamin.html">The Benjamin</a></td>
		<td class="grey"><a href="The Benjamin.html"><img alt="check" src="../../public/images/benjamin.png" height="40" width="80"></a></td>
		<td class="grey"><img alt="check" src="../../public/images/star.png" height="16" width="16"><img alt="check" src="../../public/images/star.png" height="16" width="16"></td>
		<td class="grey"><img alt="check" src="../../public/images/cross.png" height="16" width="16"></td>
		<td class="grey">USA , New York , Christopher St 10014</td>
		<td class="grey">2х-мест. станд. - 100$/сутки
						 <p>2х-мест. люкс - 200$/сутки</p>
						 президентский -500$/сутки</td>
	    <td class="grey">2х-мест. станд. - 100$/сутки - обычный номе р с минимальными удобствами
						<p>2х-мест. люкс - 200$/сутки - номер с повышенной комфортностью</p>
						президентский -500$/сутки-номер "все включено"</td>
		
		
	</tr>

	<tr>
		<td nowrap><a href="The James New York - SoHo.html">The James New York - SoHo</a></td>
		<td class="grey"><a href="The James New York - SoHo.html"><img alt="check" src="../../public/images/The James New York - SoHo.png" height="40" width="80"></a></td>
		<td class="grey"><img alt="check" src="../../public/images/star.png" height="16" width="16"></td>
		<td class="grey"><img alt="check" src="../../public/images/check.png" height="16" width="16"></td>
		<td class="grey">USA , New York , 549-535 Hudson St</td>
		<td class="grey">2х-мест. станд. - 100$/сутки
						 <p>2х-мест. люкс - 200$/сутки</p>
						 президентский -500$/сутки</td>
						 <td class="grey">2х-мест. станд. - 100$/сутки - обычный номе р с минимальными удобствами
						<p>2х-мест. люкс - 200$/сутки - номер с повышенной комфортностью</p>
						президентский -500$/сутки-номер "все включено"</td>
	</tr>

	<tr>
		<td nowrap><a href="YOTEL New York.html">YOTEL New York</a></td>
		<td class="grey"><a href="YOTEL New York.html"><img alt="check" src="../../public/images/YOTEL New York.png" height="40" width="80"></a></td>
		<td class="grey"><img alt="check" src="../../public/images/star.png" height="16" width="16"><img alt="check" src="../../public/images/star.png" height="16" width="16"><img alt="check" src="../../public/images/star.png" height="16" width="16"></td>
		<td class="grey"><img alt="check" src="../../public/images/check.png" height="16" width="16"></td>
		<td class="grey">USA , New York , 570 10th Ave</td>
		<td class="grey">2х-мест. станд. - 100$/сутки
						 <p>2х-мест. люкс - 200$/сутки</p>
						 президентский -500$/сутки</td>
						 <td class="grey">2х-мест. станд. - 100$/сутки - обычный номе р с минимальными удобствами
						<p>2х-мест. люкс - 200$/сутки - номер с повышенной комфортностью</p>
						президентский -500$/сутки-номер "все включено"</td>
	</tr>
	
	<tr>
		<td nowrap><a href="The Lexington Hotel, Autograph Collection.html">The Lexington Hotel, Autograph Collection</a></td>
		<td class="grey"><a href="The Lexington Hotel, Autograph Collection.html"><img alt="check" src="../../public/images/23.png" height="40" width="80"></a></td>
		<td class="grey"><img alt="check" src="../../public/images/star.png" height="16" width="16"><img alt="check" src="../../public/images/star.png" height="16" width="16"><img alt="check" src="../../public/images/star.png" height="16" width="16"><img alt="check" src="../../public/images/star.png" height="16" width="16"></td>
		<td class="grey"><img alt="check" src="../../public/images/cross.png" height="16" width="16"></td>
		<td class="grey">USA , Michigan , Detroit, 199-11 5th Ave</td>
		<td class="grey">2х-мест. станд. - 100$/сутки
						 <p>2х-мест. люкс - 200$/сутки</p>
						 президентский -500$/сутки</td>
						 <td class="grey">2х-мест. станд. - 100$/сутки - обычный номе р с минимальными удобствами
						<p>2х-мест. люкс - 200$/сутки - номер с повышенной комфортностью</p>
						президентский -500$/сутки-номер "все включено"</td>
	</tr>
	<tr>
		<td nowrap><a href="Hilton Times Square.html">Hilton Times Square</a></td>
		<td class="grey"><a href="Hilton Times Square.html"><img alt="check" src="../../public/images/hilton.png" height="40" width="80"></a></td>
		<td class="grey"><img alt="check" src="../../public/images/star.png" height="16" width="16"><img alt="check" src="../../public/images/star.png" height="16" width="16"></td>
		<td class="grey"><img alt="check" src="../../public/images/check.png" height="16" width="16"></td>
		<td class="grey">USA , New York ,  6th central street</td>
		<td class="grey">2х-мест. станд. - 100$/сутки
						 <p>2х-мест. люкс - 200$/сутки</p>
						 президентский -500$/сутки</td>
						 <td class="grey">2х-мест. станд. - 100$/сутки - обычный номе р с минимальными удобствами
						<p>2х-мест. люкс - 200$/сутки - номер с повышенной комфортностью</p>
						президентский -500$/сутки-номер "все включено"</td>
		
	</tr>
	<tr>
		<td nowrap><a href="Regal Oaks – The Official CLC World Resort.html">Regal Oaks – The Official CLC World Resort</a></td>
		<td class="grey"><a href="Regal Oaks – The Official CLC World Resort.html"><img alt="check" src="../../public/images/Regal.png" height="40" width="80"></a></td>
		<td class="grey"><img alt="check" src="../../public/images/star.png" height="16" width="16"><img alt="check" src="../../public/images/star.png" height="16" width="16"><img alt="check" src="../../public/images/star.png" height="16" width="16"></td>
		<td class="grey"><img alt="check" src="../../public/images/check.png" height="16" width="16"></td>
		<td class="grey">USA , Florida , Orlando, 11 1th central street</td>
		<td class="grey">2х-мест. станд. - 100$/сутки
						 <p>2х-мест. люкс - 200$/сутки</p>
						 президентский -500$/сутки</td>
						 <td class="grey">2х-мест. станд. - 100$/сутки - обычный номе р с минимальными удобствами
						<p>2х-мест. люкс - 200$/сутки - номер с повышенной комфортностью</p>
						президентский -500$/сутки-номер "все включено"</td>
	</tr>
	<tr>
		<td nowrap><a href="Ramada Plaza Suites Universal Studios.html">Ramada Plaza Suites Universal Studios</a></td>
		<td class="grey"><a href="Ramada Plaza Suites Universal Studios.html"><img alt="check" src="../../public/images/Ramada Plaza Suites Universal Studios.png" height="40" width="80"></a></td>
		<td class="grey"><img alt="check" src="../../public/images/star.png" height="16" width="16"><img alt="check" src="../../public/images/star.png" height="16" width="16"><img alt="check" src="../../public/images/star.png" height="16" width="16"><img alt="check" src="../../public/images/star.png" height="16" width="16"><img alt="check" src="../../public/images/star.png" height="16" width="16"></td>
		<td class="grey"><img alt="check" src="../../public/images/check.png" height="16" width="16"></td>
		<td class="grey">USA , Florida , Orlando, Universal village st.11 ave</td>
		<td class="grey">2х-мест. станд. - 100$/сутки
						 <p>2х-мест. люкс - 200$/сутки</p>
						 президентский -500$/сутки</td>
						 <td class="grey">2х-мест. станд. - 100$/сутки - обычный номе р с минимальными удобствами
						<p>2х-мест. люкс - 200$/сутки - номер с повышенной комфортностью</p>
						президентский -500$/сутки-номер "все включено"</td>
	</tr>
	<tr>
		<td nowrap><a href="Universal's Hard Rock Hotel.html">Universal's Hard Rock Hotel</a></td>
		<td class="grey"><a href="Universal's Hard Rock Hotel.html"><img alt="check" src="../../public/images/hardrock.png" height="40" width="80"></a></td>
		<td class="grey"><img alt="check" src="../../public/images/star.png" height="16" width="16"><img alt="check" src="../../public/images/star.png" height="16" width="16"><img alt="check" src="../../public/images/star.png" height="16" width="16"></td>
		<td class="grey"><img alt="check" src="../../public/images/cross.png" height="16" width="16"></td>
		<td class="grey">USA , District of Columbia,  Washington,8th ave , metro acess 9</td>
		<td class="grey">2х-мест. станд. - 100$/сутки
						 <p>2х-мест. люкс - 200$/сутки</p>
						 президентский -500$/сутки</td>
						 <td class="grey">2х-мест. станд. - 100$/сутки - обычный номе р с минимальными удобствами
						<p>2х-мест. люкс - 200$/сутки - номер с повышенной комфортностью</p>
						президентский -500$/сутки-номер "все включено"</td>
	</tr>
	<tr>
		<td nowrap><a href="Pod DC Hotel.html">Pod DC Hotel</a></td>
		<td class="grey"><a href="Pod DC Hotel.html"><img alt="check" src="../../public/images/pod.png" height="40" width="80"></a></td>
		<td class="grey"><img alt="check" src="../../public/images/star.png" height="16" width="16"></td>
		<td class="grey"><img alt="check" src="../../public/images/check.png" height="16" width="16"></td>
		<td class="grey">USA , Phoenix ,Arizona , 70 10th Ave</td>
		<td class="grey">2х-мест. станд. - 100$/сутки
						 <p>2х-мест. люкс - 200$/сутки</p>
						 президентский -500$/сутки</td>
						 <td class="grey">2х-мест. станд. - 100$/сутки - обычный номе р с минимальными удобствами
						<p>2х-мест. люкс - 200$/сутки - номер с повышенной комфортностью</p>
						президентский -500$/сутки-номер "все включено"</td>
	</tr>
	<tr>
		<td nowrap><a href="The Peninsula Chicago.html">CThe Peninsula Chicago</a></td>
		<td class="grey"><a href="The Peninsula Chicago.html"><img alt="check" src="../../public/images/The Peninsula Chicago.png" height="40" width="80"></a></td>
		<td class="grey"><img alt="check" src="../../public/images/star.png" height="16" width="16"><img alt="check" src="../../public/images/star.png" height="16" width="16"></td>
		<td class="grey"><img alt="check" src="images/check.png" height="16" width="16"></td>
		<td class="grey">USA , Illinois, Chicago, 108 E Superior St IL 60611</td>
		<td class="grey">2х-мест. станд. - 100$/сутки
						 <p>2х-мест. люкс - 200$/сутки</p>
						 президентский -500$/сутки</td>
						 <td class="grey">2х-мест. станд. - 100$/сутки - обычный номе р с минимальными удобствами
						<p>2х-мест. люкс - 200$/сутки - номер с повышенной комфортностью</p>
						президентский -500$/сутки-номер "все включено"</td>
	</tr>
</tbody>
</table>
<hr>
		<footer class="main">
			<div class="container clearfix">

				<div id="uncopyright">
					<p>Uncopyright &copy; 2018 <strong>Team: trains. For JetRuby</strong></p>

				</div>

				<div id="credits">
					<p>Sustainabily coded with love by <a href="http://vk.com/">Igor, Egor</a></p> 
				</div>
			</div>
		</footer>
</body>
</html>