<!DOCTYPE>
<html>
<head>
	<title>The Benjamin</title>
</head>
<form>
<style>
   .text {
    text-align:  center;
   }
  </style>

 <body>
  <div class="text">
     <p>The Benjamin - Hotel</p>
	 <p><img  src="../../public/images/TheBenjamin.png" height="400" width="500" ></p>
	 <p>About Hotel:</p>
	 <p>Denihan's landmark Beaux Arts hotel exudes elegance from head to toe. This graceful Emery Roth building features sophisticated spaces that feel more like upscale apartments. In-room kitchenettes, exceptional service, and Geoffrey Zakarian's acclaimed restaurant and bar add to the pied-à-terre experience.
		
		</p>
		Write your comment, please 
		<form action="mailto:igor.scour@list.ru" method="post" name="commentform" id="commentform">
			<p><input type="text" name="author" id="author" value="" size="25" />
			<small> Name</small>
			</p>
			<p><input type="text" name="email" id="email" value="" size="25" />
			<small> Mail</small>
			</p>
			<p><textarea name="comment" id="comment" cols="48" rows="8"> </textarea>
			</p>
			<p><input name="submit" type="submit" id="submit" value="Send" />
			</p>
		</form>
	 <a href="hotels_list.html"><button type="button">BACK</button></a>
  </div>

</form>
</html>